<template>
  <!-- TODO: Make re-render work without key -->
  <router-view :key="$route.params.id" />
</template>

<script>
export default {
  name: "App",
};
</script>

<style>
#app {
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
