<template>
  <div class="chart_container">
    <h2>{{ name }}</h2>
    <apexchart
      class="chart"
      type="area"
      :options="chartOptions"
      :series="series"
      height="80%"
      width="1200"
    />
  </div>
</template>

<script>
import { colors } from "../constants";
export default {
  name: "areaChart",
  props: {
    name: String,
    data: Object,
  },
  data: function () {
    return {
      chartOptions: {
        colors: [
          colors.darkOrange,
          colors.darkBlue,
          colors.lightBlue,
          colors.darkGray,
        ],
        chart: {
          type: "area",
        },
        dataLabels: {
          enabled: false,
        },
        stroke: {
          curve: "smooth",
        },
        yaxis: {
          min: 0,
          max: 100,
          tickAmount: 4,
        },
        xaxis: {
          type: "datetime",
        },
        tooltip: {
          x: {
            format: "dd/MM/yy HH:mm",
          },
        },
      },
    };
  },
  computed: {
    coverage() {
      return this.formatData();
    },
    series() {
      return [
        this.coverage.hlr,
        this.coverage.statement,
        this.coverage.decision,
        this.coverage.mcdc,
      ];
    },
  },
  methods: {
    formatData() {
      return {
        hlr: {
          name: "HLR Entry",
          data: this.data.hlr,
        },
        statement: {
          name: "Statement coverage",
          data: this.data.statement,
        },
        decision: {
          name: "Decision coverage",
          data: this.data.decision,
        },
        mcdc: {
          name: "MC/DC",
          data: this.data.mcdc,
        },
      };
    },
  },
};
</script>

<style scoped>
.chart_container {
  background-color: var(--lightGray);
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.chart {
  margin-left: -20px;
}
</style>
