<template>
  <div class="menu-item" @click="isOpen = !isOpen">
    <a href="#">
      {{ title }}
      <img src="../assets/icons/Unit-arrow.svg" />
    </a>
    <transition name="fade" appear>
      <div class="sub-menu" v-if="isOpen">
        <div class="menu-item" v-for="(item, i) in items" :key="i">
          <router-link :to="`/csci/${item.link}`" replace>{{
            item.title
          }}</router-link>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: "dropdownMenu",
  props: {
    title: String,
    items: Array,
  },
  data() {
    return {
      isOpen: false,
    };
  },
};
</script>

<style scoped>
img {
  width: 15px;
  margin-left: 8px;
  margin-bottom: 5px;
}

nav .sub-menu .menu-item {
  background-color: var(--black);
  margin: 2px 0;
  padding: 15px;
}
nav .menu-item .sub-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 10;
  position: fixed;
  top: 60px;
  left: 0;
  margin: 0;
  width: 65vw;
  padding-left: 0 !important;
}

.sub-menu a {
  cursor: pointer;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.2s ease-in;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
