<template>
  <div class="components_container">
    <h3>HLR Coverage</h3>
    <ProgressBar
      v-for="item in data"
      @click="showModal(item)"
      :key="item.name"
      :name="item.name"
      :coverage="`${parseInt(item.HLR_entry)}%`"
    />
  </div>
  <div class="components_container">
    <h3>Statement coverage</h3>
    <ProgressBar
      v-for="item in data"
      @click="showModal(item)"
      :key="item.name"
      :name="item.name"
      :coverage="`${parseInt(item.statement_coverage)}%`"
    />
  </div>
  <div class="components_container">
    <h3>Decision Coverage</h3>
    <ProgressBar
      v-for="item in data"
      @click="showModal(item)"
      :key="item.name"
      :name="item.name"
      :coverage="`${parseInt(item.decision_coverage)}%`"
    />
  </div>
  <div class="components_container">
    <h3>MC/DC</h3>
    <ProgressBar
      v-for="item in data"
      @click="showModal(item)"
      :key="item.name"
      :name="item.name"
      :coverage="`${parseInt(item.MC_DC_coverage)}%`"
    />
  </div>
  
  <FileModal
    v-if="item !== undefined"
    v-show="isModalVisible"
    @close="closeModal"
    :item="item"
  >
    <template v-slot:header>
      <h1>{{ item.name }}</h1>
    </template>
    <template v-slot:body>
      <GaugeGroup class="chart" :data="item" />
    </template>
  </FileModal>
</template>

<script>
import { colors } from "../constants";
import ProgressBar from "../components/ProgressBar";
import FileModal from "../components/TheModal";
import GaugeGroup from "../components/GaugeGroup";
export default {
  name: "fileOverview",
  components: {
    ProgressBar,
    FileModal,
    GaugeGroup,
  },
  props: {
    coverage: String,
    name: String,
    data: Object,
  },
  data() {
    return {
      colors: colors,
      isModalVisible: false,
      item: undefined,
    };
  },
  methods: {
    showModal(item) {
      this.item = item;
      this.isModalVisible = true;
    },
    closeModal() {
      this.isModalVisible = false;
    },
  },
};
</script>

<style scoped>
.components_container {
  background-color: var(--lightGray);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 2rem;
  text-align: left;
}

.components_container h3 {
  font-size: 24px;
}
</style>
