<template>
  <GaugeChart 
    name="HLR Entry" 
    :value="codeCoverage.HLR" 
    :color="colors.HLR" 
  />
  <GaugeChart
    name="Statement Coverage"
    :value="codeCoverage.statement"
    :color="colors.statement"
  />
  <GaugeChart
    name="Decision Coverage"
    :value="codeCoverage.decision"
    :color="colors.decision"
  />
  <GaugeChart 
    name="MC/DC" 
    :value="codeCoverage.mcdc" 
    :color="colors.mcdc" 
  />
</template>

<script>
import { colors } from "../constants";
import GaugeChart from "./Gauge";
export default {
  name: "gaugeGroup",
  components: {
    GaugeChart,
  },
  props: {
    data: Object,
  },
  data() {
    return {
      colors: {
        HLR: colors.darkOrange,
        statement: colors.darkBlue,
        decision: colors.lightBlue,
        mcdc: colors.darkGray,
      },
    };
  },
  computed: {
    codeCoverage() {
      const data = this.data;
      //To ensure the website doesn't crash on modal mount
      if (data === undefined) {
        return {
          HLR: 0,
          statement: 0,
          decision: 0,
          mcdc: 0,
        };
      }
      return {
        HLR: parseInt(data.HLR_entry),
        statement: parseInt(data.statement_coverage),
        decision: parseInt(data.decision_coverage),
        mcdc: parseInt(data.MC_DC_coverage),
      };
    },
  },
};
</script>
