<template>
  <div class="chart_container">
    <h2 class="">{{ name }}</h2>
    <apexchart
      width="400px"
      type="radialBar"
      :options="options"
      :series="[parseInt(value)]"
    ></apexchart>
  </div>
</template>

<script>
import { colors } from "../constants";
export default {
  name: "GaugeChart",
  props: {
    name: String,
    color: String,
    value: Number,
  },
  data: function () {
    return {
      options: {
        colors: [this.color],
        chart: {
          sparkline: {
            enabled: true,
          },
        },
        states: {
          active: {
            filter: {
              type: "none",
            },
          },
        },
        grid: {
          padding: {
            top: -30,
            bottom: 20,
          },
        },
        plotOptions: {
          radialBar: {
            hollow: {
              size: "40%",
            },
            startAngle: -90,
            endAngle: 90,
            track: {
              background: colors.gaugeBackground,
              strokeWidth: "97%",
              dropShadow: {
                enabled: true,
                top: 2,
                left: 0,
                color: colors.trueBlack,
                opacity: 0.25,
                blur: 4,
              },
            },
            dataLabels: {
              name: {
                show: false,
              },
              value: {
                offsetY: -2,
                fontSize: "24px",
              },
            },
          },
        },
        fill: {
          type: "gradient",
          gradient: {
            shade: "light",
            shadeIntensity: 0.4,
            inverseColors: false,
            opacityFrom: 1,
            opacityTo: 1,
            stops: [0, 50, 53, 91],
          },
        },
      },
    };
  },
};
</script>

<style scoped>
.chart_container {
  width: 300px;
  height: 280px;
  background-color: var(--lightGray);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  margin-bottom: 3rem;
  z-index: -1;
}
</style>
