<template>
  <nav>
    <img id="logo" src="../assets/TCV-logo.svg" />
    <div class="menu-item"><a href="#">Summary</a></div>
    <dropdown title="CSCI" :items="units" />
    <div class="menu-item"><a href="#">Custom View</a></div>
    <div class="menu-item">
      <a href="#">
        Find
        <img src="../assets/icons/Search-icon.svg" />
      </a>
    </div>
  </nav>
</template>

<script>
import Dropdown from "./Dropdown.vue";
export default {
  name: "navbar",
  components: {
    Dropdown,
  },
};
</script>

<style>
#logo {
  width: 70px;
}

.menu-item img {
  width: 15px;
  margin-left: 8px;
  margin-bottom: 5px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black);
  padding: 10px;
  width: 620px;
}
nav .menu-item {
  color: var(--white);
  padding: 5px 20px;
  position: relative;
  text-align: center;
  display: flex;
}

nav a {
  display: flex;
  border-bottom: 3px solid transparent;
  transition: 0.4s;
}

nav a.active,
a:hover {
  border-bottom-color: var(--lightOrange);
}
</style>
