<template>
  <router-link
    v-if="id !== undefined"
    :to="testRunId ? `/test_run/${testRunId}/csu/${id}` : `/csu/${id}`"
  >
    <div class="progress_container">
      <div class="border">
        <div
          class="progress"
          :style="{
            width: coverage,
            backgroundColor: setProgressColor(),
            fontWeight: setFontWeight(),
          }"
        />
        <p>{{ name }}</p>
      </div>
      <p id="coverage">{{ coverage }}</p>
    </div>
  </router-link>

  <div v-else class="progress_container">
    <div class="border">
      <div
        class="progress"
        :style="{
          width: coverage,
          backgroundColor: setProgressColor(),
          fontWeight: setFontWeight(),
        }"
      ></div>
      <p>{{ name }}</p>
    </div>
    <p id="coverage">{{ coverage }}</p>
  </div>
</template>

<script>
import { colors } from "../constants";
export default {
  name: "progressBar",
  props: {
    color: String,
    coverage: String,
    name: String,
    id: Number,
    testRunId: String,
  },
  data() {
    return {
      colors: colors,
      test: this.id,
    };
  },
  methods: {
    setProgressColor() {
      const percentage = parseInt(this.coverage);
      if (percentage === 100) {
        return colors.green;
      } else if (percentage < 20) {
        return colors.red;
      } else return colors.lightOrange;
    },
    setFontWeight() {
      if (parseInt(this.coverage) < 20) return "600";
      else return "400";
    },
  },
};
</script>

<style scoped>
.border {
  border-radius: 100px;
  border-width: 0;
  height: 2rem;
  width: 94%;
  background-color: var(--chartBackground);
  display: flex;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.25);
}

.progress_container {
  width: 100%;
  display: flex;
  align-items: center;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  cursor: pointer;
}

p {
  padding-left: 1rem;
  white-space: nowrap;
}

.border p {
  margin-top: 5px;
  position: absolute;
  width: 150px;
  overflow: hidden;
}

#coverage {
  display: flex;
  justify-content: center;
}

.progress {
  background-color: var(--lightOrange);
  border-radius: 100px;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}
</style>
