<template>
  <div class="background">
    <table>
      <tr>
        <th id="name">Name</th>
        <th id="label">Label</th>
        <th>Runner</th>
        <th id="date">Date run</th>
        <th id="edit">
          <img class="icon" src="../assets/icons/Trash-icon.svg" />
        </th>
      </tr>
      <tr v-for="entry in entries" :key="entry.id">
        <td class="name-td">
          <router-link :to="`/test_run/${entry.id}`">{{
            entry.name
          }}</router-link>
        </td>
        <td>{{ entry.label }}</td>
        <td>{{ entry.computer }}</td>
        <td>
          {{
            entry.timestamp.split("T")[0] +
            " " +
            entry.timestamp.split("T")[1].slice(0, 5)
          }}
        </td>
        <td class="edit">
          <img
            class="icon"
            src="../assets/icons/Delete-icon.svg"
            @click="deleteModal(entry)"
          />
          <img
            class="icon"
            src="../assets/icons/Edit-icon.svg"
            @click="editModal(entry)"
          />
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  name: "TableItem",
  props: {
    deleteModal: Function,
    editModal: Function,
    entries: Object,
  },
  setup() {
    return {};
  },
};
</script>

<style scoped>
.background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightGray);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 2rem;
  text-align: left;
  margin-top: 1.5rem;
  width: 100%;
}

.icon {
  width: 20px;
}

td .icon {
  padding: 0 7px;
}

#name {
  width: 50%;
}

#label {
  width: 8%;
}

#date {
  width: 13%;
}

#edit {
  width: 8%;
}

table {
  border-spacing: 10px;
  width: 1300px;
}

th {
  padding: 5px 10px;
  border-bottom: solid #e1dddd 2px;
  text-align: center;
  font-size: 20px;
}

td {
  background-color: white;
  padding: 10px;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.edit {
  background-color: transparent;
  box-shadow: none;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
  width: 95%;
  display: block;
  padding: 10px;
}

.name-td {
  padding: 0;
}
</style>
