<template>
  <div class="modal-backdrop">
    <div class="modal">
      <header class="modal-header">
        <div class="title">
          <slot name="header"> </slot>
        </div>

        <button type="button" class="btn-close" @click="close">x</button>
      </header>
      <div class="divider"></div>
      <section class="modal-body">
        <slot name="body"> </slot>
      </section>
    </div>
  </div>
</template>

<script>
export default {
  name: "modalItem",
  methods: {
    close() {
      this.$emit("close");
    },
  },
  props: {
    item: Object,
  },
  data() {
    return {
      options: {
        chart: {
          id: "vuechart-example",
        },
      },
    };
  },
};
</script>

<style>
.divider {
  background-color: #e1dddd;
  width: 90%;
  height: 1px;
  margin-bottom: 10px;
  align-self: center;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #ffffff;
  box-shadow: 2px 2px 20px 1px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  z-index: -2;
}

.modal-header {
  position: relative;
  justify-content: space-between;
  display: flex;
  justify-content: center;
}

.title {
  width: 80%;
}

td img {
  cursor: pointer;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  word-break: break-all;
  max-width: 600px;
}
.modal-body {
  position: relative;
  padding: 10px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.25rem;
  overflow: hidden;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  font-size: 30px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
}

.chart {
  z-index: 0 !important;
}
</style>
