<template>
  <nav>
    <img id="logo" src="../assets/TCV-logo.svg" />
    <div class="menu-item"><router-link to="/">Summary</router-link></div>
    <DropdownMenu title="CSCI:s" :items="units" @click.prevent="" />
    <div class="menu-item">
      <router-link to="/search">
        Search
        <img src="../assets/icons/Search-icon.svg" />
      </router-link>
    </div>

    <div class="menu-item"><router-link to="/faq">FAQ</router-link></div>
  </nav>
</template>

<script>
import DropdownMenu from "./Dropdown.vue";
import { useParsedUnits, useAllUnits } from "../api/csci";
export default {
  name: "navbarItem",
  components: {
    DropdownMenu,
  },
  setup() {
    const { units, getUnits } = useAllUnits();

    getUnits();
    const { parsedUnits } = useParsedUnits(units);
    return {
      units: parsedUnits,
    };
  },
};
</script>

<style>
#logo {
  width: 70px;
  margin-left: 1.5rem;
}

.menu-item img {
  width: 15px;
  margin-left: 8px;
  margin-bottom: 5px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black);
  padding: 10px;
  width: 500px;
  margin: 0;
  position: fixed;
}
nav .menu-item {
  color: var(--white);
  padding: 5px 20px;
  position: relative;
  text-align: center;
  display: flex;
}

nav .menu-item a {
  display: flex;
  align-items: center;
}

nav a {
  display: flex;
  border-bottom: 3px solid transparent;
  transition: 0.4s;
  color: white;
  text-decoration: none;
}

nav a.active,
a:hover {
  border-bottom-color: var(--lightOrange);
}
</style>
