<template>
  <header>
    <NavbarItem />
  </header>
  <div class="content_container" v-if="component !== undefined">
    <div class="flex">
      <h1 id="first" v-if="component !== undefined">{{ component.name }}</h1>
      <div class="divider" />
      <div class="container">
        <GaugeGroup :data="component" />
        <div class="comp-cont">
          <h1>Files</h1>
          <div class="divider" />
          <div class="container">
            <FileOverview :data="files" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NavbarItem from "../components/TheNavbar.vue";
import GaugeGroup from "../components/GaugeGroup.vue";
import FileOverview from "@/components/FileOverview";
import { useRoute } from "vue-router";

import { useComponent } from "../api/csu";
import { useComponentFiles } from "../api/files";
export default {
  name: "ComponentPage",
  components: {
    NavbarItem,
    GaugeGroup,
    FileOverview,
  },
  setup() {
    const route = useRoute();

    const { component } = useComponent(route.params.id);
    const { files } = useComponentFiles(
      route.params.id,
      route.params.testRunId
    );

    return { component, files };
  },
};
</script>

<style scoped>
.container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 1.25rem;
  width: 100%;
}
.flex {
  display: flex;
  max-width: 1300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.divider {
  background-color: #e1dddd;
  width: 100%;
  height: 1px;
  margin-bottom: 20px;
}
.content_container {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.comp-cont {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#first {
  margin-top: 140px;
}
.flex h1 {
  margin-top: 50px;
}

.components_container {
  background-color: var(--lightGray);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 2rem;
  text-align: left;
}

.file_container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 1.25rem;
}
</style>
