<template>
  <div>
    <header>
      <NavbarItem />
    </header>
    <div class="main-content">
      <div class="flex">
        <div id="first" class="question">
          <h3>Vilken data visas i en CSCI?</h3>
          <p>
            Klickar du på en CSCI i menyn kommer du att se den senaste datan som
            finns i databasen för den CSCI:n.
          </p>
        </div>
        <div class="question">
          <h3>Vad betyder progress bar:en för en CSU?</h3>
          <p>
            Progress bar:en visar den summerade kodtäckningen för den CSU:n.
            Vill du se de olika kodtäckningarna separat kan du trycka på
            progress bar:en. Detta fungerar även för filer.
          </p>
        </div>
        <div class="question">
          <h3>Hur hittar jag min testkörning?</h3>
          <p>
            Gå in i "Search" och filtrera på t.ex. din dator eller datumet du
            genomförde testkörningen. Din testkörning borde då dyka upp i
            tabellen och du kan klicka in på den för mer information.
          </p>
        </div>
        <div class="question">
          <h3>
            Vad är det för testkörningar som syns när jag öppnar "Search"-sidan?
          </h3>
          <p>
            Testkörningarna som syns direkt när man öppnar "Search"-sidan är de
            20 senaste testkörningarna som ligger i databasen.
          </p>
        </div>
        <div class="question">
          <h3>Kan jag ändra eller ta bort min testkörning?</h3>
          <p>
            Du kan hitta din testkörning på "Search"-sidan, längst till höger i
            tabellen finns det ett kryss och en penna för varje testkörning.
            Trycker du på krysset har du möjlighet att ta bort testkörningen.
            Trycker du på pennan kan du redigera namn och label på
            testkörningen.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NavbarItem from "@/components/TheNavbar";

export default {
  name: "Faq",
  components: {
    NavbarItem,
  },
};
</script>

<style scoped>
.main-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
  max-width: 1000px;
  flex-direction: column;
  text-align: left;
  padding: 0 2rem;
  cursor: default;
  padding-bottom: 2rem;
}

.question {
  justify-self: start;
  background-color: var(--lightGray);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 2rem;
  margin-bottom: 1rem;
}

.question p {
  margin-left: 2rem;
}

#first {
  margin-top: 140px;
}
</style>