<template>
  <header>
    <NavbarItem />
  </header>
  <div class="content-container">
    <div class="flex-container">
      <div class="background">
        <div class="form-container">
          <form @submit="filterTestRuns">
            <label for="fname">Name</label>
            <input
              type="text"
              id="fname"
              name="name"
              placeholder="Test run"
              v-model="name"
            />

            <label for="fcomputer">Runner</label>
            <input
              type="text"
              id="fcomputer"
              name="computer"
              placeholder="Runner"
              v-model="computer"
            />

            <label for="fdate">Date</label>
            <input
              type="text"
              id="fdate"
              name="date"
              placeholder="YYYY-MM-DD"
              v-model="date"
            />

            <label for="label">Label</label>
            <select id="label" name="label" v-model="label">
              <option value="" />
              <option value="baseline">Baseline</option>
              <option value="peer">Peer</option>
              <option value="trail">Trail</option>
            </select>

            <input type="submit" value="Filter" />
          </form>
        </div>
      </div>
      <Table
        :deleteModal="showDeleteModal"
        :editModal="showEditModal"
        :entries="filterResult ? filterResult : testRuns"
      />
    </div>
  </div>

  <Modal v-show="isDeleteModalVisible" @close="closeModal" v-if="modalData">
    <template v-slot:header>
      <h1>Delete {{ modalData.name }}</h1>
    </template>
    <template v-slot:body>
      <div
        class="form-container"
        :style="{ 'grid-column': 'span 2', padding: ' 0 30px' }"
      >
        <form :style="{ width: '300px' }" @submit.prevent>
          <p>
            You are about to remove {{ modalData.name }} from
            {{
              modalData.timestamp.split("T")[0] +
              " " +
              modalData.timestamp.split("T")[1].slice(0, 5)
            }}
          </p>
          <p>To remove this entry write <b>DELETE</b></p>
          <input type="text" id="fname" name="name" required v-model="submit" />

          <div>
            <input
              class="modal-button"
              type="submit"
              value="Delete"
              @click="deleteTestRun"
            />
          </div>
        </form>
      </div>
    </template>
  </Modal>

  <Modal v-show="isEditModalVisible" @close="closeModal" v-if="modalData">
    <template v-slot:header>
      <h1>Edit {{ modalData.name }}</h1>
    </template>
    <template v-slot:body>
      <div
        class="form-container"
        :style="{ 'grid-column': 'span 2', padding: ' 0 30px' }"
      >
        <form :style="{ width: '300px' }" @submit.prevent>
          <label for="fname">Name</label>
          <input
            type="text"
            id="fname"
            name="name"
            :placeholder="modalData.name"
            v-model="modalName"
          />

          <label for="label">Label</label>
          <select id="label" name="label" v-model="modalLabel">
            <option value="" />
            <option value="baseline">Baseline</option>
            <option value="peer">Peer</option>
            <option value="trail">Trail</option>
          </select>
          <div>
            <input
              class="modal-button"
              type="submit"
              value="Confirm"
              @click="updateTestRun"
            />
          </div>
        </form>
      </div>
    </template>
  </Modal>
</template>

<script>
import NavbarItem from "../components/TheNavbar.vue";
import Modal from "../components/TheModal.vue";
import Table from "../components/Table.vue";
import { useAllTestRuns } from "../api/testRuns";
export default {
  name: "SearchPage",
  components: {
    NavbarItem,
    Modal,
    Table,
  },
  data() {
    return {
      isDeleteModalVisible: false,
      isEditModalVisible: false,
      modalData: undefined,
      name: undefined,
      computer: undefined,
      date: undefined,
      label: undefined,
      filterResult: undefined,
      submit: undefined,
      modalName: undefined,
      modalLabel: undefined,
    };
  },
  methods: {
    showDeleteModal(data) {
      this.modalData = data;
      this.isDeleteModalVisible = true;
    },
    showEditModal(data) {
      this.modalData = data;
      this.isEditModalVisible = true;
    },
    closeModal() {
      this.isDeleteModalVisible = false;
      this.isEditModalVisible = false;
    },
    filterTestRuns(e) {
      let query = "?";
      if (this.name) {
        query = `${query}name=${this.name}&`;
      }
      if (this.computer) {
        query = `${query}computer=${this.computer}&`;
      }
      if (this.date) {
        query = `${query}timestamp=${this.date}&`;
      }
      if (this.label) {
        query = `${query}label=${this.label}&`;
      }

      fetch(`${process.env.VUE_APP_API_ENDPOINT}/test_run/${query}`, {
        mode: "cors",
      })
        .then((response) => response.json())
        .then((data) => (this.filterResult = data));
      e.preventDefault();
    },
    deleteTestRun() {
      if (this.submit === "DELETE") {
        fetch(
          `${process.env.VUE_APP_API_ENDPOINT}/test_run/${this.modalData.id}`,
          { method: "DELETE", mode: "cors" }
        );
        this.reload();
      }
    },
    updateTestRun() {
      const data = {
        name: this.modalData.name,
        label: this.modalData.label,
      };
      if (this.modalName) {
        data.name = this.modalName;
      }
      if (this.modalLabel) {
        data.label = this.modalLabel;
      }
      fetch(
        `${process.env.VUE_APP_API_ENDPOINT}/test_run/${this.modalData.id}/`,
        {
          mode: "cors",
          method: "PATCH",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        }
      );
      this.reload();
    },
    reload() {
      setTimeout(function () {
        this.isEditModalVisible = false;
        window.location.reload();
      }, 200);
    },
  },
  setup() {
    const { testRuns } = useAllTestRuns(20);

    return {
      testRuns,
    };
  },
};
</script>

<style scoped>
.content-container {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
  padding-top: 100px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  flex-direction: column;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightGray);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 2rem;
  text-align: left;
  margin-top: 1.5rem;
  width: 100%;
}

.form-container {
  display: flex;
  justify-content: center;
}

form {
  width: 1300px;
  display: flex;
  flex-direction: column;
}

form p {
  word-break: break-word;
}
label {
  margin-top: 10px;
  font-weight: 600;
  font-size: 20px;
  text-align: left;
}

.modal-button {
  background-color: var(--lightOrange) !important;
}

.modal-button:hover {
  background-color: var(--darkOrange) !important;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="text"]:focus,
select:focus {
  outline-color: var(--darkGray);
}

input[type="submit"] {
  background-color: var(--darkGray);
  color: white;
  font-size: 16px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
  align-self: flex-end;
  outline: none;
}

select {
  width: 100% !important;
}
</style>
