<template>
  <div>
    <header>
      <NavbarItem />
    </header>
    <div class="content_container">
      <div class="flex_center">
        <div class="main_container" v-if="testRuns !== undefined">
          <div class="background">
            <form @change="getTestRun">
              <label for="testRun">Test Run</label>
              <select id="testRun" name="testRun" v-model="testRun">
                <option v-for="name in testRunNames" :key="name">
                  {{ name }}
                </option>
              </select>
            </form>
          </div>
          <GaugeGroup :data="gaugeData" />
          <AreaChart
            name="Code coverage over time"
            :data="areaChartData"
            :style="{ gridColumn: 'span 4' }"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NavbarItem from "../components/TheNavbar.vue";
import AreaChart from "../components/AreaChart.vue";
import GaugeGroup from "../components/GaugeGroup";

import { colors } from "../constants";
import { useAllTestRuns } from "../api/testRuns";

export default {
  name: "SummaryPage",
  components: {
    NavbarItem,
    AreaChart,
    GaugeGroup,
  },
  data() {
    return {
      colors: colors,
      testRunNames: undefined,
      testRun: undefined,
      gaugeData: {
        HLR_entry: 0,
        statement_coverage: 0,
        decision_coverage: 0,
        MC_DC_coverage: 0,
      },
      areaChartData: {
        hlr: [[0, 0]],
        statement: [[0, 0]],
        decision: [[0, 0]],
        mcdc: [[0, 0]],
      },
    };
  },
  methods: {
    parseTest(data) {
      const names = Object.values(data).map((val) => val.name);
      this.testRunNames = Array.from(new Set(names));
    },
    getTestRun() {
      fetch(
        `${process.env.VUE_APP_API_ENDPOINT}/test_run/?name=${this.testRun}`,
        { mode: "cors" }
      )
        .then((response) => response.json())
        .then((data) => {
          this.gaugeData = data.slice(-1)[0];
          this.areaChartData = this.parsedTestRuns(data);
        });
    },
    parsedTestRuns(data) {
      const codeCoverage = { hlr: [], statement: [], decision: [], mcdc: [] };
      for (let i = 0; i < data.length; i += 1) {
        codeCoverage.hlr.push([
          data[i].timestamp,
          parseFloat(data[i].HLR_entry),
        ]);
        codeCoverage.statement.push([
          data[i].timestamp,
          parseFloat(data[i].statement_coverage),
        ]);
        codeCoverage.decision.push([
          data[i].timestamp,
          parseFloat(data[i].decision_coverage),
        ]);
        codeCoverage.mcdc.push([
          data[i].timestamp,
          parseFloat(data[i].MC_DC_coverage),
        ]);
      }
      return codeCoverage;
    },
  },
  setup() {
    const { testRuns } = useAllTestRuns();

    return {
      testRuns,
    };
  },
  beforeUpdate() {
    this.parseTest(this.testRuns);
  },
};
</script>

<style scoped>
.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
}
.main_container {
  margin-top: 140px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 1.25rem;
}

.content_container {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.background {
  background-color: var(--lightGray);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 2rem;
  text-align: center;
  grid-column: span 4;
  margin: 20px 0;
}

label {
  font-size: 30px;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="text"]:focus,
select:focus {
  outline-color: var(--darkGray);
}

input[type="submit"] {
  background-color: var(--darkGray);
  color: white;
  font-size: 16px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
  align-self: flex-end;
  outline: none;
}
</style>
