<template>
  <div>
    <header>
      <NavbarItem />
    </header>
    <div class="container" v-if="testRun !== undefined">
      <div class="flex">
        <h1 id="topMargin">{{ testRun.name }}</h1>
        <div class="grid">
          <h2>Runner: {{ testRun.computer }}</h2>
          <h2 class="grid-2">{{ parseDate(testRun.timestamp) }}</h2>
          <h2>Label: {{ testRun.label }}</h2>
          <h2 class="grid-4">
            Passed: {{ tests.passed }} /
            {{ tests.failed + tests.passed }}
          </h2>
        </div>
        <div class="divider" />
        <div class="grid">
          <GaugeGroup :data="testRun" />

          <div class="grid-4 center">
            <h1>CSU:s</h1>
            <div class="divider" />
            <div class="background">
              <ProgressBar
                v-for="item in CSU"
                :key="item.name"
                :name="item.name"
                :coverage="item.coverage"
                :id="parseInt(item.id)"
                :testRunId="id"
              />
            </div>
          </div>

          <div class="grid-4 center">
            <h1>Files</h1>
            <div class="divider" />
            <div class="grid">
              <FileOverview :data="files" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable vue/no-unused-components */
import NavbarItem from "@/components/TheNavbar.vue";
import GaugeGroup from "@/components/GaugeGroup.vue";
import ProgressBar from "@/components/ProgressBar";
import FileOverview from "@/components/FileOverview";

import { useTestRun } from "@/api/testRuns";

import { useRoute } from "vue-router";
import { useTestRunCSU } from "../api/csu";
import { useTestRunFiles } from "../api/files";
import { useTests } from "../api/test";

export default {
  name: "TestRun",
  components: {
    NavbarItem,
    GaugeGroup,
    ProgressBar,
    FileOverview,
  },
  setup() {
    const route = useRoute();
    const id = route.params.id;

    const { testRun } = useTestRun(id);
    const { CSU } = useTestRunCSU(id);
    const { files } = useTestRunFiles(id);
    const { tests } = useTests(id);

    return {
      testRun,
      CSU,
      files,
      id,
      tests,
    };
  },
  methods: {
    parseDate(date) {
      return date.split("T")[0] + " " + date.split("T")[1].slice(0, 5);
    },
  },
};
</script>

<style scoped>
#topMargin {
  margin-top: 140px;
}

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.divider {
  background-color: #e1dddd;
  width: 100%;
  height: 1px;
  margin-bottom: 20px;
}
.flex {
  display: flex;
  max-width: 1300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 1.25rem;
  width: 100%;
}
.grid-4 {
  grid-column: span 4;
}
.grid-2 {
  grid-column: span 2;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background {
  background-color: var(--lightGray);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 2rem;
  text-align: left;
  width: 95%;
}
</style>