:root {
  --lightOrange: #F8B749;
  --darkOrange: #D97704;
  --darkBlue: #15427B;
  --blue: #004C97;
  --lightBlue: #0499D9;
  --red: #DA291C;
  --black: #34322E;
  --darkGray: #5F625F;
  --mediumGray: #A49786;
  --gray: #D9D9D6;
  --lightGray: #f5f5f5;
  --white: #FFFFFF;
  --chartBackground: #e7e7e7;
}

@font-face {
  font-family: 'Roboto';
  src: url(../assets/fonts/Roboto//Roboto-Regular.ttf),
       url(../assets/fonts/Roboto/Roboto-Medium.ttf),
       url(../assets/fonts/Roboto//Roboto-Bold.ttf)

}

h1 {
  font-size: 48px;
  font-weight: 400;
}

h2 {
  font-size: 30px;
  font-weight: 400;
}

h3 {
  margin: 0;
}

p {
  font-size: 18px;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
}













